<script type="text/javascript">
$(function() {
  Dashing.widget_base_dimensions = [350, 160]
});
</script>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="discoverytool-build" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="contenteditor-build" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reverseproxy-build" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="git2prov-build" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deploy-qa" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="ac-tests" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="deploy-live" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true"></div>
    </li>
  </ul>
</div>
