<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="teamcity-build" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true" data-title="KB-QS-Build"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="3">
      <div data-id="teamcity-deploy" data-image="/project-icon.png" data-view="TeamCity" data-unordered="true" data-title="KB-QS-Deploy"></div>
    </li>
  </ul>
</div>
